<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/Star_Wars_Storm-Trooper.svg">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Star Wars</title>
  </head>
  <body>
    <section class="title">
      <div class="image">
        <img src="./images/pngwing.com.png" alt="Star Wars" />
      </div>
    </section>
    <div class="center">
      <button id="btnGetData">may the force be with you</button>
    </div>
    <section id="characters"></section>

    <script src="/scripts/mainscript.js"></script>
  </body>
</html>
